.sede {
    padding: 10px 0 20px;
}

.sede-title {
    color: #fff;
    margin: 30px 0 0;
    text-align: center;
    font-weight: 700;
}

.sede-description {
    padding: 20px;
    color: #fff;
    max-width: 800px;
    margin: 0 auto;
}

.sede-description b {
    color: var(--yellow);
}

.sede span {
    text-align: center;
    display: block;
    color: #ffffff68;
    font-size: 14px;
}

.sede-carrouseles {
    gap: 0 40px;
    flex-wrap: wrap;
}

.proyecto-terminado {
    min-width: 200px;
    max-width: 400px;
    max-height: 400px;
    margin: 20px 0 40px;
}

.proyecto-terminado h4 {
    text-align: center;
    margin: 10px 0;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--yellow);
}

.proyecto-terminado img {
    height: auto;
    width: 100%;
    object-fit: cover;
    padding: 0 20px;
}

@media screen and (min-width: 768px) {
    .proyecto-terminado {
        max-height: 300px;
    }

    .proyecto-terminado img {
        max-height: 300px;
        width: 400px;
    }
}
